# Ignore files and directories
.DS_Store
Thumbs.db

# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
/dist/
/build/

# Ignore environment configuration files
.env

# Ignore log files
*.log

# Ignore compiled binary files and executables
*.exe
*.out
*.app

# Ignore user-specific files and directories
.idea/
.vscode/
