@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.woff") format("woff"); /* Replace 'path-to-consolas-regular.woff' with the actual file path */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas-Bold.woff") format("woff"); /* Replace 'path-to-consolas-bold.woff' with the actual file path */
  font-weight: bold;
  font-style: normal;
}
